<!DOCTYPE html>
<html lang="zh-CN">
<head>
<base href="{$base_url}">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>Error</title>

<!-- JavaScript resources -->
{res file='script:libs/jquery/jquery.191.min.js'}
{res file='script:libs/require/require.js'}
{res file='script:libs/require/require.config.js'}

<!-- Stylesheet resources -->
{res file='link:css/show_pages.css'}


</head>
<body>
	<div id="container">
		<h1>{$heading}</h1>
		{$message}
	</div>
</body>
</html>


