{res file='link:css/index.css' append=1}
{include file="header.html"}


<div class="page-container">
	<div class="wp cl mt-30">
        <section class="index-box radius index-recommend">
            <div class="index-box-title">最新推荐</div>
            <div class="index-box-cont bs-bb">
            	<div class="index-recommend-item bs-bb">
                    <h4>Mohtml</h4>
                    <p>wordpress作品主题，适合各类设计站</p>
                    <div class="index-recommend-item-meta">
                    	<a class="btn btn-primary radius" target="_blank" href="http://www.mobantu.com/5682.html">详情</a>
                        <a class="btn btn-default-outline radius" target="_blank" rel="nofollow" href="http://demo.mobantu.com/mohtml/">查看演示</a>
                    </div>
                </div>
                
                <div class="index-recommend-item bs-bb">
                    <h4>Mohtml</h4>
                    <p>wordpress作品主题，适合各类设计站</p>
                    <div class="index-recommend-item-meta">
                    	<a class="btn btn-primary radius" target="_blank" href="http://www.mobantu.com/5682.html">详情</a>
                        <a class="btn btn-default-outline radius" target="_blank" rel="nofollow" href="http://demo.mobantu.com/mohtml/">查看演示</a>
                    </div>
                </div>
                
                <div class="index-recommend-item bs-bb">
                    <h4>Mohtml</h4>
                    <p>wordpress作品主题，适合各类设计站</p>
                    <div class="index-recommend-item-meta">
                    	<a class="btn btn-primary radius" target="_blank" href="http://www.mobantu.com/5682.html">详情</a>
                        <a class="btn btn-default-outline radius" target="_blank" rel="nofollow" href="http://demo.mobantu.com/mohtml/">查看演示</a>
                    </div>
                </div>
                
                <div class="index-recommend-item bs-bb">
                    <h4>Mohtml</h4>
                    <p>wordpress作品主题，适合各类设计站</p>
                    <div class="index-recommend-item-meta">
                    	<a class="btn btn-primary radius" target="_blank" href="http://www.mobantu.com/5682.html">详情</a>
                        <a class="btn btn-default-outline radius" target="_blank" rel="nofollow" href="http://demo.mobantu.com/mohtml/">查看演示</a>
                    </div>
                </div>
                
                <div class="index-recommend-item bs-bb">
                    <h4>Mohtml</h4>
                    <p>wordpress作品主题，适合各类设计站</p>
                    <div class="index-recommend-item-meta">
                    	<a class="btn btn-primary radius" target="_blank" href="http://www.mobantu.com/5682.html">详情</a>
                        <a class="btn btn-default-outline radius" target="_blank" rel="nofollow" href="http://demo.mobantu.com/mohtml/">查看演示</a>
                    </div>
                </div>
                
            </div>
        </section>
	</div>
</div>



<script>
	//require(['admin/page.index']);
</script>

{include file="footer.html"}