@CHARSET "UTF-8";
/* navbar start */
.navbar {
	margin-bottom:0
}
.navbar {
	margin-left:0;
	margin-right:0;
	border:0;
	-webkit-box-shadow:none;
	box-shadow:none;
	border-radius:0;
	margin:0;
	padding-left:0;
	padding-right:0;
	min-height:45px;
	position:relative;
	background:#39aef5;
}
.navbar>.container {
	padding-left:0;
	padding-right:0
}
.navbar .navbar-text,.navbar .navbar-link {
	color:#fff
}
.navbar .navbar-brand {
	color:#fff;
	font-size:24px;
	text-shadow:none;
	padding-top:10px;
	padding-bottom:10px
}
.navbar .navbar-brand:hover,.navbar .navbar-brand:focus {
	color:#fff
}
.navbar .navbar-header {
	margin:0!important
}
.navbar .navbar-nav>li>a,.navbar .navbar-nav>li>a:hover,.navbar .navbar-nav>li>a:focus {
	font-size:13px;
	text-shadow:none;
	color:#fff
}
.navbar-fixed-top,.navbar-fixed-bottom {
	position:fixed
}
.navbar-container {
	padding-left:10px;
	padding-right:20px
}
.navbar-container.container {
	padding-left:0;
	padding-right:0
}

/****** /end of navbar  ******/


.sidebar{
	width: 190px;
	float: left;
	position: relative;
	border: 1px solid #ccc;
	border-width: 0 1px 0 0;
	background-color: #f2f2f2;
}
.sidebar:before {
	content:"";
	display:block;
	width:190px;
	position:fixed;
	bottom:0;
	top:0;
	z-index:-1;
	background-color:#f2f2f2;
	border:1px solid #ccc;
	border-width:0 1px 0 0
}
.sidebar.fixed,.sidebar.sidebar-fixed {
	position:fixed;
	z-index:1029;
	top:45px;
	left:0
}
.sidebar.fixed:before,.sidebar.sidebar-fixed:before {
	left:0;
	right:auto
}

.main-content{
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 8px;
	min-height: 100%;
	padding: 0;	
}
.main-content:before{
	content: "";
	display: block;
	width: 190px;
	position: fixed;
	bottom: 0;
	top: 0;
	z-index: -1;
}

@media only screen and (max-width:767px) {
	.main-content {
		margin-left:0!important
	}
}

.main-content-inner{
	background:#fff;
	margin:0;
	padding:0px
}
@media only screen and (max-width:767px) {
	.main-content-inner {
		padding-left:0px;
		padding-right:0px
	}
}

.page-content {
	background:#fff;
	margin:0;
	padding:8px 20px 24px
}
.page-header {
	margin:0 0 8px;
	border-bottom:1px dotted #e2e2e2;
	padding-bottom:8px;
	padding-top:0px
}
.page-header h1 {
	padding:0;
	margin:0 8px;
	font-size:24px;
	font-weight:lighter;
	color:#2679b5
}
.page-header h1 small {
	margin:0 6px;
	font-size:14px;
	font-weight:normal;
	color:#8089a0
}


.no-padding{padding:0px;}
.no-padding-left{padding-left:0px;}
.no-padding-right{padding-right:0px;}

