<div class="comments-box" data-use-comment='1'>
	<div class="comments-header">
    	<span class="comments-count" id="j_comt_count">0</span>条评论
    </div>
    <div class="comments-reply mt-10">
    	<div class="comments-reply-inner">
        	<div class="comments-reply-cont">
                <input type="hidden" name="cont_id" id="j_comt_cont_id" value="{$cont_id}" />
                <textarea class="" id="j_comt_cont" placeholder="留下您的精彩评论吧！"></textarea>
            </div>
            <div class="comments-reply-ctrl cl">
            	<div class="comments-reply-metas f-l">
                	<input type="text" id="j_comt_name" placeholder="您的昵称" value="" class="input-text comments-reply-name">
                </div>
                <button type="button" class="btn btn-primary comments-reply-submit f-r" id="j_comt_submit">提交评论</button>
            </div>
        </div>
    </div>
    <div class="comments-list mt-10" id="j_comt_list">
    	Loadding...
    </div>
</div>