<div class="tabCon" id="j_config_cont_base">
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>网站名称：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" name="site_name" placeholder="网站的名称,控制在25个字、50个字节以内" value="{$config.site_name}" class="input-text">
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>网站标题：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" name="site_title" placeholder="网站的主标题，控制在25个字、50个字节以内" value="{$config.site_title}" class="input-text">
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>关键词：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" name="site_keywords" placeholder="5个左右,8汉字以内,用英文,隔开" value="{$config.site_keywords}" class="input-text">
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>描述：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" name="site_description" placeholder="空制在80个汉字，160个字符以内" value="{$config.site_description}" class="input-text">
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>css、js、images路径配置：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" name="static_url" placeholder="默认为空，为相对路径" value="{$config.static_url}" class="input-text">
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>上传目录配置：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" name="upload_url" placeholder="默认为upload" value="{$config.upload_url}" class="input-text">
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>底部版权信息：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" name="site_copyright" placeholder="&copy; 2016 windyland.com" value="{$config.site_copyright}" class="input-text">
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2">备案号：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" name="site_icp" placeholder="备案号" value="{$config.site_icp}" class="input-text">
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2">统计代码：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <textarea name="tongji_code" class="textarea">{$config.tongji_code}</textarea>
        </div>
    </div>
</div>