<footer class="page-footer mt-30">
	<div class="wp cl">
    	<p class="footer-menu">
        	<a href="http://demo.mobantu.com/mode/joinus">加入我们</a>
			<a href="http://demo.mobantu.com/mode/contant">联系我们</a>
			<a href="http://demo.mobantu.com/mode/about">关于我们</a>
		</p>
        <p>版权信息，可以自定义&nbsp;&nbsp;Theme by <a href="http://www.mobantu.com" target="_blank">Windyland.com</a></p>
    
    </div>
</footer>

<!-- languages from php to javascript -->
<script>
	window.Lang = {$jlang_json};
</script>
</body>
</html>