@CHARSET "UTF-8";

.wlDialog-mask{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	filter: alpha(opacity=0);
	opacity: 0.0;
	background: #fff;
	display1: none;
	font-size: 1px;
	overflow: hidden;
	display: none;
	z-index: 9000;	
}
.wlDialog *{
	box-sizing:border-box;
}
.wlDialog{
	position:absolute;
	left:0px;
	top:0px;
	cursor:default;
	z-index:9200;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #999;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 5px;
	outline: 0;
	-webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
	box-shadow: 0 3px 9px rgba(0,0,0,.5);
	overflow:hidden;
}
.wlDialog-header{
	min-height: 18px;
	padding: 5px 10px;
	background: #f7f7f7;
	background-image: -webkit-gradient(linear,left 0,left 100%,from(#fff),to(#eee));
	background-image: -webkit-linear-gradient(top,#fff,0%,#eee,100%);
	background-image: -moz-linear-gradient(top,#fff 0,#eee 100%);
	background-image: linear-gradient(to bottom,#fff 0,#eee 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffeeeeee',GradientType=0);
	color: #FFF;
	border-bottom: 1px solid #e5e5e5;
	background:#39AEF5;	
}
.wlDialog-header .wlDialog-title{
	line-height:18px;
}
.wlDialog-header .wlDialog-title h4{
	font-size: 13px;
    line-height: 20px;
    font-weight: 700;
    margin: 0px;
}
.wlDialog-header .wlDialog-header-close{
	position:absolute;
	font-size: 21px;
	font-weight: 700;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 1;
	color: #FFF;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity=20);
	cursor:pointer;
	right:5px;
	top:5px;
	transition:all .2s linear;
}
.wlDialog-header .wlDialog-header-close:hover{
	color:#FFF;
	transform:rotate(90deg);
	-ms-transform:rotate(90deg); 	/* IE 9 */
	-moz-transform:rotate(90deg); 	/* Firefox */
	-webkit-transform:rotate(90deg); /* Safari å’Œ Chrome */
	-o-transform:rotate(90deg); 	/* Opera */
}

.wlDialog-body{
	padding: 5px 10px;
}

.wlDialog-body iframe{
	border:none;
	width:100%;
	height:100%;
}



.wlDialog-footer{
	padding:5px 10px;
	text-align:right;
	border-top: 1px solid #e5e5e5;
}


.wlDialog-button{
	display: inline-block;
	padding: 4px 10px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;	
}
.wlDialog-button:hover{
	background-color: #e0e0e0;
	background-position: 0 -15px;	
	color: #333;
	text-decoration: none;
}
.wlDialog-button+.wlDialog-button{
	margin-bottom: 0;
	margin-left: 5px;
}
.wlDialog-button.default{
	text-shadow: 0 1px 0 #fff;
	background-image: -webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);
	background-image: -o-linear-gradient(top,#fff 0,#e0e0e0 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#e0e0e0));
	background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
	border-color: #dbdbdb;
	border-color: #ccc;
}
.wlDialog-button.default:hover{
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;	
}
.wlDialog [class*="wlDialog-icon"]{
	display: block;
	width: 48px;
	height: 48px;
}
.wlDialog-icon-info{
	float: left;
	background:url('imgs/status-info-48.png');
}
.wlDialog-icon-success{
	float: left;
	background:url('imgs/status-success-48.png');
}
.wlDialog-icon-warn{
	float: left;
	background:url('imgs/status-warn-48.png');
}
.wlDialog-icon-error{
	float: left;
	background:url('imgs/status-error-48.png');
}

[class*="wlDialog-icon"] +.wlDialog-msg{
	padding-left: 58px;
	line-height: 48px;
	min-height: 48px;
}